@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100vw);
    }
}

.game-zone__enemy-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 42px;
    right: -170px;
    animation: move 2.7s infinite linear;
}