@keyframes jump {
    from{
        transform: translateY(0);
    }


    50%{
        transform: translateY(-100px);
    }

    75%{
        transform: translateY(-70px); 
    }

    to{
        transform: translateY(0);
    }
}

.player_on-jump{
    animation: jump .5s 1 ease;
}