@keyframes jump {
    from{
        transform: translateY(0);
    }

    30%{
        transform: translateY(-130px)
    }

    50%{
        transform: translateY(-150px);
    }   

    70%{
        transform: translateY(-130px)
    }

    to{
        transform: translateY(0);
    }
}

.player_on-jump{
    animation: jump .6s 1   ;
}