@keyframes jump {
    from{
        transform: translateY(0);
    }


    50%{
        transform: translateY(-150px);
    }


    to{
        transform: translateY(0);
    }
}

.player_on-jump{
    animation: jump 1s 1 ease;
}