@keyframes jump {
    from{
        bottom: 42px;
        transform: rotate(0deg);
    }

    30%{
        bottom: 172px;
    }

    50%{
        bottom: 192px;
    }   

    70%{
        bottom: 172px;
    }

    to{
        transform: rotate(360deg);
        bottom: 42px;
    }
}

.player_on-jump{
    animation: jump .6s 1;
    transition: all .3s ease;
}