.player {
    width: 70px;
    height: 100px;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 42px;
    left: 20px;
}