@keyframes move {
    from{
        left: calc(100% + 150px);
    }
    to{
        left: -130px;
    }
}

.enemy__container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 42px;
    left: calc(100% + 150px);
    animation: move 1.9s 1 linear;
    border: 1px solid red;
}