@keyframes hideButton {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-40px);
        display: none;
        opacity: 0;
    }
}

.game-zone__button_hidden {
    animation: hideButton .7s forwards;
}