.popup {
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgba(1, 1, 1, .3);
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    display: none;
}